<div class="container">
  <h1>Diccionario Python/Ruby</h1>
  <p>Esta web es un ejercicio de programación en Ruby on Rails. La idea es 
  crear una base de datos de conceptos comunes para consultar cuando uno no
  se acuerda de la sintaxis correcta en uno u otro idioma.</p>
  <h2>Cosas pendientes de hacer:</h2>
  <ol>
    <li>Modelar usuarios, con activación por email</li>
    <li>Habilitar la edición selectivamente</li>
    <li>Crear diccionarios de usuario, donde uno tenga conceptos particulares</li>
    <li>Hacer copia de seguridad de la base de datos</li>
    <li>Crear una estructura de datos que permita añadir más lenguajes y seleccionar los que se desea comparar</li>
  </ol>
</div>