<div class=" table-container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">...</div>
    <div role="tabpanel" class="tab-pane fade" id="profile">
      <%= markdown("""
En **Python 2** `print` es una instrucción, y no usa paréntesis. Si usas paréntesis, entenderá que estás mostrando una tupla de varios elementos, con sus paréntesis incluídos.

En **Python 3**, `print()` es una función y los paréntesis son obligatorios.

En **Ruby** tenemos dos métodos, `puts`y `print`. El primero acaba con un carácter de nueva línea (CRLF), el segundo no. Con este último, por tanto, pueden concatenarse varias cadenas en una misma línea.
""".html_safe) %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="messages">
            <%= markdown("""
#### Python 2

```python
a = 'Hola'
b = 'amigos'
c = 'míos'
print a, b; print c
# Hola amigos
# míos
```

Si se añade una coma al final, suprime el CRLF (*carácter de nueva línea*).

```python
print a, b; print c
# Hola amigos míos
```
#### Python 3 

La forma de evitar el CRLF es diferente. Se le pasa el parámetro `end` para indicarle que el carácter de fin de línea es la cadena vacía:

```python
print(a, b, end=""); print(c)
# Hola amigosmíos
```

Fíjate que hemos perdido el espacio que teníamos por defecto (puede añadirse poniendo `end=" "`)""".html_safe) %>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="settings">
            <%= markdown("""
La diferencia entre las instrucciones **puts** y **print** es que la primera incluye un CRLF (*carácter de nueva línea*) mientras que el segundo no. De este modo, a base de **print** consecutivos se puede completar una línea por partes.

```ruby
a = 'Hola'
b = 'amigos'
c = 'míos'
puts a, b, c`
# => 'Holaamigosmíos'
```

```ruby
puts 'HOLA'; puts 'ADIOS'
# => HOLA
# ADIOS

print 'Hola'; print 'amigos'; print 'míos'
# => Holaamigosmíos
```""".html_safe) %>

    </div>
  </div>

</div>