<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="field row">
      <br>
      <%= f.text_field :title, placeholder: "<Título para nuevo concepto aquí>", class: "text-primary" %>
    </div>
    <div class="row">
      <div class="field col-md-4 tag-comun">
        <%= f.text_area :comun, placeholder: "<Información general aquí>" %>
      </div>
      <div class="field col-md-4 tag-python">
        <%= f.text_area :python, placeholder: "<Información y ejemplos Python aquí>" %>
      </div>
      <div class="field col-md-4 tag-ruby">
        <%= f.text_area :ruby, placeholder: "<Información y ejemplos Ruby aquí>" %>
      </div>
    </div>
    <div class="actions row center">
      <%= f.submit "Actualizar", class: "btn btn-danger extrawidth" if is_admin? %>
    </div>
  </div>
<% end %>
