<div class="table-container">
<h1>Editando concepto &nbsp;<%= link_to 'Volver', items_path, :class => "btn btn-primary" %> <%= link_to 'Mostrar', @item, class: "btn btn-primary" %></h1>

<%= render 'form' %>
</div>
<div class="table-container center">

</div>
