<p id="notice"><%= notice %></p>

<div class="table-container">
<h1>Listado de conceptos 
<%= link_to 'Añadir', new_item_path, class: "btn btn-primary" if is_admin? %>
</h1></div>

<div class="table-container">

<%= will_paginate %>

<div>
  <div>
    <% @items.each do |item| %>
      <div class="row titulo">
        <div class="col-md-12 text-primary"><h3><%= item.title %>&nbsp;<small><%= link_to "Ampliar", item, class: "btn btn-info btn-xs" %></small></h3>
       
          <%
          # = link_to 'Mostrar', item, class: 'btn btn-primary btn-xs' 
          %>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-4 fading-row"><%= markdown(item.comun) %></div>
        <div class="col-md-4 fading-row python-tab"><%= markdown(item.python) %></div>
        <div class="col-md-4 fading-row ruby-tab"><%= markdown(item.ruby) %></div>
        <div class="menusito">
          <%= link_to 'Editar', edit_item_path(item), class: 'btn btn-primary btn-xs' if is_admin? %>
          <%= link_to 'Borrar', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' if is_admin? %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= will_paginate %>

</div>
