<p id="notice"><%= notice %></p>

<div class="table-container table-container-header"><h1 class="text-primary"><%= @item.title %>
&nbsp;<%= link_to 'Volver', items_path, class: "btn btn-primary" %></h1></div>

<div class="table-container">
<div class="table">
  <div class="row">
    <div>
      <div class="col-md-4 comun-tab"><%= markdown(@item.comun) %></div>
      <div class="col-md-4 python-tab"><%= markdown(@item.python) %></div>
      <div class="col-md-4 ruby-tab"><%= markdown(@item.ruby) %></div>
    </div>
  </div>
</div>
</div>

<div class="table-container center">
<%= link_to 'Editar', edit_item_path(@item), class: "btn btn-primary" if is_admin? %> 
<%= link_to 'Volver', items_path, class: "btn btn-primary" %>
</div>
