/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body { font-size: 1rem;
  background-image: url('/images/logo200.png');
  background-size: 180px;
  background-repeat: no-repeat;
}

footer {
  padding-top: 3rem;
  font-style: italic;
  text-align: center;
}

.navbar a, .navbar a:active, .navbar a:focus {
  color: #def !important;
}

.navbar a:hover {
  color: #fff;
  background-color: #265680 !important; 
}

.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: #2A6496;
    background-color: #DEF;
    border-color: #DDD;
}

.pagination {
  margin: .7rem 0 .7rem 0;
}

.logo {
  width: 50px;
  padding-top: 2px;
}

h1 {
  padding-left: 8rem;
}

@media screen and (max-width: 992px) {
  h1 {
    padding-left: 1rem;  
  }
}

