// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  
} 

$amarillo_python: #FEE89E;
$azul_python: #97B5CE;
$rojo_ruby: #F4868C;
$rojo_ruby_claro: #F8AFAD;

$amarillo_palido: #fefcea;

@mixin gradiente_python {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#97b5ce+0,80c217+0,9ec4e2+0,fee89e+100 */
  background: #97b5ce; /* Old browsers */
  background: -moz-linear-gradient(left, #97b5ce 0%, #80c217 0%, #9ec4e2 0%, #fee89e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#97b5ce), color-stop(0%,#80c217), color-stop(0%,#9ec4e2), color-stop(100%,#fee89e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #97b5ce 0%,#80c217 0%,#9ec4e2 0%,#fee89e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #97b5ce 0%,#80c217 0%,#9ec4e2 0%,#fee89e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #97b5ce 0%,#80c217 0%,#9ec4e2 0%,#fee89e 100%); /* IE10+ */
  background: linear-gradient(to right, #97b5ce 0%,#80c217 0%,#9ec4e2 0%,#fee89e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97b5ce', endColorstr='#fee89e',GradientType=1 ); /* IE6-9 */
}

@mixin gradiente_ruby {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4cccb+0,f2797d+100,80aeea+100 */
  background: #f4cccb; /* Old browsers */
  background: -moz-linear-gradient(left, #f4cccb 0%, #f2797d 100%, #80aeea 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f4cccb), color-stop(100%,#f2797d), color-stop(100%,#80aeea)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #f4cccb 0%,#f2797d 100%,#80aeea 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #f4cccb 0%,#f2797d 100%,#80aeea 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #f4cccb 0%,#f2797d 100%,#80aeea 100%); /* IE10+ */
  background: linear-gradient(to right, #f4cccb 0%,#f2797d 100%,#80aeea 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4cccb', endColorstr='#80aeea',GradientType=1 ); /* IE6-9 */
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  background-color: $amarillo_palido;
  @include box_sizing;
}

input {
  height: auto !important;
}

.container-fluid { 
  //width: 1100px;
}

//input[type="submit"] {width: 50%}

//.actions {text-align: center;}

.table-container {
  margin: auto;
  max-width: 1024px;
  //padding-left: 10rem;
  //padding-right: 10rem;
  //text-align: center;
}

.table-container-header {
  padding-bottom: 2rem;
}

#item_comun, #item_python, #item_ruby {
  height: 15rem;
}

.btn {
  margin: .1rem;
  font-size: 1rem;
  width: 6rem;
}


.center {
  text-align: center;
}

#item_title {
  font-size: 2rem;
  border: 1px dotted $azul_python;
  padding: 1rem;
  line-height: 2.2rem;
  /*width: 80%;*/
  /*background: $amarillo_python;*/
}

// Depuración
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

pagination > a, pagination > a:active, pagination > a:focus {
  color: #428BCA !important;
}


.python-tab {
  @include gradiente_python;
  background-color: $amarillo_python;
  padding-top: 1rem;
}

.ruby-tab {
  @include gradiente_ruby;
  background-color: $rojo_ruby_claro;
  padding-top: 1rem;
}

.comun-tab {
   padding-top: 1rem;
}

.comun-tab > p:first-child {
  text-indent: 5rem;
}


.titulo {
  //background-color: #DEF;
  margin: 0 0 1.5rem 0;
}
/*
.concepto {
  padding: 1rem;
}

.concepto a, .concepto a:active, .concepto a:focus {
  color: black !important;
  font-size: 2rem;
  padding: .8rem;
}

.concepto a:hover {
  background-color: #428BCA;
  //padding: .7rem;
  text-decoration: none;
}
*/
.fading-row{
    height: 200px;
    //width: 300px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    //border-bottom: 3px solid #DEF;
    max-height:200px;
    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    position:relative;
}

.fading-row:before {
    content:'';
    width:100%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 100px, white);
}

.row {
  position:relative;
  //width: 100%;
}


@media screen and (max-width: 992px) {
  .python-tab, .ruby-tab {
    display: none;
  }
  .fading-row {
    height: auto !important;
  }
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.menusito {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25rem;
  //border: 1px solid black;
  text-align: right;
  padding: 1rem;
}
/*
small a {
  background-color: white;
  color: #428BCA !important;
  padding: 0 2rem 0 2rem;
}*/

small a:hover {
  color: white;
  text-decoration: none;
  background-color: red;
}

.extrawidth {
  width: 10rem;
}