<!DOCTYPE html>
<html>
<head>
  <title>Dezero</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body onload=display_ct();>

<nav class="navbar navbar-default">
  <div class="container-fluid bg-primary">
    <div class="navbar-header">
      <%= image_tag("favicon.ico", alt: "logo", class: "logo") %>
      <%= link_to "Diccionario Python/Ruby", root_path, class: "navbar-brand" %>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Principal", root_path %></li>
        <li><a href="/items">Listados</a></li>
        <li><a href="#">Búsqueda</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

<footer>
  <div>
    <span id='ct'/>
  </div>
      <%= debug(params) if Rails.env.development? %>
</footer>

</body>
</html>
